.card-container{
    display:flex;
    width: 100%;
    flex-flow: row wrap;
}
.card{
    margin:10px;
    width: 300px;
    height: 300px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    background-color:black; 
    img{
        height:inherit;
        width: inherit;
    }
    
}